

.folder {
  margin-top: 5px;
  background-color: beige;
  width: 400px;
  margin-left: 10px;
  display: flex;
  justify-content: space-around;
  cursor: pointer;
  padding: 2px;
}

.folder > div > button {

  background-color: aliceblue;
}

